@model ScheduleControl.WebUI.ViewModels.AuthViewModel

@{
    Layout = null;
}

<html lang="en">
<!-- begin::Head -->
<head>
    <base href="../../../">
    <meta charset="utf-8" />
    <title>App..</title>
    <meta name="description" content="Login page example">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--begin::Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700|Roboto:300,400,500,600,700">
    <!--end::Fonts -->
    <!--begin::Page Custom Styles(used by this page) -->
    <link href="../assets/css/pages/login/login-6.css" rel="stylesheet" type="text/css" />
    <!--end::Page Custom Styles -->
    <!--begin::Global Theme Styles(used by all pages) -->
    <link href="../assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
    <link href="../assets/css/style.bundle.css" rel="stylesheet" type="text/css" />
    <!--end::Global Theme Styles -->
    <!--begin::Layout Skins(used by all pages) -->
    <link href="../assets/css/skins/header/base/light.css" rel="stylesheet" type="text/css" />
    <link href="../assets/css/skins/header/menu/light.css" rel="stylesheet" type="text/css" />
    <link href="../assets/css/skins/brand/dark.css" rel="stylesheet" type="text/css" />
    <link href="../assets/css/skins/aside/dark.css" rel="stylesheet" type="text/css" />
    <!--end::Layout Skins -->
    <link rel="shortcut icon" href="../assets/media/logos/favicon.ico" />
</head>
<!-- end::Head -->
<!-- begin::Body -->
<body class="kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header-mobile--fixed kt-subheader--enabled kt-subheader--fixed kt-subheader--solid kt-aside--enabled kt-aside--fixed kt-page--loading">
    <!-- begin:: Page -->
    <div class="kt-grid kt-grid--ver kt-grid--root">
        <div class="kt-grid kt-grid--hor kt-grid--root  kt-login kt-login--v6 kt-login--signin" id="kt_login">
            <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--desktop kt-grid--ver-desktop kt-grid--hor-tablet-and-mobile">

                <div class="kt-grid__item kt-grid__item--fluid kt-grid__item--center kt-grid kt-grid--ver kt-login__content" style="background-image: url(../assets/media/bg/bg-7.jpg);">
                    <div class="kt-login__section">
                    </div>
                </div>
                <div class="kt-grid__item  kt-grid__item--order-tablet-and-mobile-2  kt-grid kt-grid--hor kt-login__aside">
                    <div class="kt-login__wrapper">
                        <div class="kt-login__container">
                            <div class="kt-login__body">
                                <div class="kt-login__logo">
                                    <a href="#">
                                        <img src="../assets/media/logos/loginavatar.png">
                                    </a>
                                </div><br />
                                <div class="kt-login__signin">
                                    <div class="kt-portlet myTab">
                                        <div class="kt-portlet__body">
                                            <ul class="nav nav-tabs" role="tablist">
                                                <li class="nav-item">
                                                    <a onclick="" class="nav-link active" data-toggle="tab" href="#kt_tabs_1_1">
                                                        <span><i class="la la-building"></i></span> Sign In
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a onclick="" class="nav-link" data-toggle="tab" href="#kt_tabs_1_2">
                                                        <span><i class="la la-building"></i></span> Register
                                                    </a>
                                                </li>
                                            </ul>
                                            <div class="tab-content">
                                                <div class="tab-pane active" id="kt_tabs_1_1" role="tabpanel">
                                                    @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { enctype = "multipart/form-data", id = "signinForm" }))
                                                    {
                                                        @Html.AntiForgeryToken()
                                                        <div class="kt-login__form">
                                                            <div class="form-group">
                                                                <label style="font-weight:bold;">E-Mail</label>
                                                                <input asp-for="@Model.UserForLoginDto.Email" type="email" id="inputEmail" class="form-control" placeholder="example@example.com" autofocus autocomplete="off">
                                                            </div>

                                                            <div class="form-group">
                                                                <label style="font-weight:bold;">Password</label>
                                                                <input asp-for="@Model.UserForLoginDto.Password" type="password" id="inputPassword" class="form-control form-control-last" placeholder="enter your password" autocomplete="off">
                                                            </div>
                                                            <div class="kt-login__actions">
                                                                <button id="btnLogin" class="btn btn-brand btn-pill btn-elevate">Login</button>
                                                            </div>
                                                        </div>
                                                    }
                                                </div>
                                                <div class="tab-pane" id="kt_tabs_1_2" role="tabpanel">
                                                    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { enctype = "multipart/form-data", id = "registerForm" }))
                                                    {
                                                        <div class="kt-login__form">
                                                            <div class="form-group">
                                                                <input type="text" placeholder="First Name" class="form-control" id="firstname" asp-for="@Model.UserForRegisterDto.FirstName" />
                                                                <span asp-validation-for="@Model.UserForRegisterDto.FirstName" class="text-danger"></span>
                                                            </div>
                                                            <div class="form-group">
                                                                <input type="text" placeholder="Last Name" class="form-control" id="lastname" asp-for="@Model.UserForRegisterDto.LastName" />
                                                            </div>
                                                            <div class="form-group">
                                                                <input type="password" placeholder="Password" class="form-control" id="password" asp-for="@Model.UserForRegisterDto.Password" />
                                                            </div>
                                                            <div class="form-group">
                                                                <input type="text" placeholder="Email Address" class="form-control" id="email" asp-for="@Model.UserForRegisterDto.Email" />
                                                            </div>
                                                            <div class="kt-login__actions">
                                                                <button class="btn btn-danger btn-pill btn-elevate" type="submit" id="btnregister">Register</button>
                                                            </div>
                                                            <div class="form-group">
                                                                <p class="message col-form-label">Already registered? <a href="javascript:ToggleForm('signin')">Login</a></p>
                                                            </div>
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end:: Page -->
    <!-- begin::Global Config(global config for global JS sciprts) -->
    <script>
        var KTAppOptions = {
            "colors": {
                "state": {
                    "brand": "#5d78ff",
                    "dark": "#282a3c",
                    "light": "#ffffff",
                    "primary": "#5867dd",
                    "success": "#34bfa3",
                    "info": "#36a3f7",
                    "warning": "#ffb822",
                    "danger": "#fd3995"
                },
                "base": {
                    "label": [
                        "#c5cbe3",
                        "#a1a8c3",
                        "#3d4465",
                        "#3e4466"
                    ],
                    "shape": [
                        "#f0f3ff",
                        "#d9dffa",
                        "#afb4d4",
                        "#646c9a"
                    ]
                }
            }
        };
    </script>
    <!-- end::Global Config -->
    <!--begin::Global Theme Bundle(used by all pages) -->
    <script src="../assets/plugins/global/plugins.bundle.js" type="text/javascript"></script>
    <script src="../assets/js/scripts.bundle.js" type="text/javascript"></script>
    <!--end::Global Theme Bundle -->
    <!--begin::Page Scripts(used by this page) -->
    <script src="../assets/js/pages/custom/login/login-general.js" type="text/javascript"></script>
    <!--end::Page Scripts -->
</body>
<!-- end::Body -->
</html>


